* {
  padding: 0;
  margin: 0;
}

.App{
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #090C12;
}

.logo-container{
  position: absolute;
  border: 2px solid red;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
  width: 50%;
}

.ReacTarot {
  border: 2px solid blue;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
}

.tarot-table-wrapper{
  display: flex;
  justify-content: center;
  align-self: flex-end;
  height: 80%;
  border: 2px solid yellow;
}

.tarot-table{
  height:  100%;
  align-self: flex-end;
}